<section once="footers" class="cid-rrp0waP0H1" id="footer7-4">





    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">





                    <li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="index" style="font-weight: normal;">Главная</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="prices" style="font-weight: normal;">Услуги и цены</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="discounts" style="font-weight: normal;">Акции</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="contacts" style="font-weight: normal;">Контакты</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="photogallery" style="font-weight: normal;">Фотогалерея</a></li></ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">






                    <div class="soc-item">
                        <a href="http://instagram.com/xmaster.by" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div><div class="soc-item">
                    <a href="http://facebook.com/xmaster.by" target="_blank">
                        <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                    </a>
                </div><div class="soc-item">
                    <a href="http://google.com/maps/place/улица+Октябрьская+5,+Минск" target="_blank">
                        <span class="mbr-iconfont mbr-iconfont-social mbrib-map-pin"></span>
                    </a>
                </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">© 2019 Xmaster</p>
            </div>
        </div>
    </div>
</section>
