<section class="engine"><a href="https://mobirise.info/r">free bootstrap templates</a></section><section class="mbr-section contacts1 cid-rrvkJwkvhg" id="contacts1-a">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style display-2"><br>Контакты</h2>

            </div>
            <!--Left-->
            <div class="col-12 col-md-6">
                <div class="left-block wrapper">
                    <div class="b b-adress">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">Адрес:
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-7">
                            <a href="https://www.google.com/maps/place/улица+Октябрьская+5,+Минск" target="_blank" class="text-info">Адрес: г. Минск, Октябрьская 5, Концертный зал "Минск", вход в малый зал, 1 этаж, комната 102/1 (за баром)</a></p>
                    </div>
                    <div class="b b-phone">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">Телефон:
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-7"><a href="tel:+375296970071" class="text-info">
                            +375 (29) 697-00-71</a></p>
                    </div>
                    <div class="b b-mail">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">
                            E-mail:
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-7"><a href="mailto:xmaster.by.info@gmail.com" class="text-info">xmaster.by.info@gmail.com
                        </a></p>
                    </div>
                </div>
            </div>
            <!--Right-->
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEIpgj38KyLFELm2bK9Y7krBkz1K-cMq8&amp;q=place_id:ChIJ_0G8bsXP20YRYELXNTR5Xak" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>

<!--<section class="cid-rrSe0SjbLf" id="social-buttons1-7">
    
    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                
                <div>
                    <div class="mbr-social-likes" data-counters="false">
                        <span class="btn btn-social facebook mx-2" title="Share link on Facebook">
                            <i class="socicon socicon-facebook"></i>
                        </span>
                        <span class="btn btn-social twitter mx-2" title="Share link on Twitter">
                            <i class="socicon socicon-twitter"></i>
                        </span>
                        <span class="btn btn-social plusone mx-2" title="Share link on Google+">
                            <i class="socicon socicon-googleplus"></i>
                        </span>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->