<section class="engine"><a href="https://mobirise.info/h">create a web page for free</a></section><section class="pricing-table1 cid-rrvjDvxrog" id="pricing-tables1-6">




    <div class="container">
        <div class="row">
        <h3>Скоро появятся акции ;)</h3>
        </div>
        <!--<div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Стрижка + окраска</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        &lt;!&ndash;
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        &ndash;&gt;
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 5 до 25 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">модельная с мытьём, наголо и др.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Стрижка мужская</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        &lt;!&ndash;
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        &ndash;&gt;
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 5 до 25 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">модельная с мытьём, наголо и др.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Стрижка мужская</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        &lt;!&ndash;
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        &ndash;&gt;
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 5 до 25 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">модельная с мытьём, наголо и др.</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>-->
    </div>
</section>
