<section class="engine"><a href="https://mobirise.me/n">landing page html templates</a></section><section class="features1 cid-rn2rQRcULI" id="features1-m">
    
    

    
    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-sale"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-1">Акции</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Скоро здесь появятся акции.</p>
                </div>
            </div>

            

            

            

        </div>

    </div>

</section>

<section class="mbr-section form3 cid-rn2tlipU3Y" id="form3-n">

    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">Подписаться</h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">Узнавайте о последних акциях и предложениях</h3>
            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                </div>
                <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="e1ePvqkEAv7Ie9Rli2OFo7KkmfDvG/r88bTkZWq8p/g9vZOAMxOfDaPbCalnXGOaWMLu6ca12sbuZKgv5/y9hulT8CbSLkiqE7YllB8rwwxTaVquCE7kZKzet6tDINwa" data-form-field="Email">
                    <div class="mbr-subscribe input-group">
                        <input class="form-control" type="email" name="email" placeholder="Email" data-form-field="Email" required="" id="email-form3-n">
                        <span class="input-group-btn"><button href="" type="submit" class="btn  btn-success display-4">Подписаться<br></button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
