

<section class="engine"></section><section class="cid-rmETIyZjpj mbr-fullscreen mbr-parallax-background" id="header2-1">

    

    

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title pb-3 mbr-fonts-style display-2"><img src="scissors-simple-white.png" alt="✂" title="" style="height: 3.8rem;">&nbsp️master</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Создай свой неповторимый образ вместе с профессиональным мастером</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="photogallery">Посмотреть работы</a>
                    <a class="btn btn-md btn-white-outline display-4" href="contacts">&nbsp; &nbsp; Задать вопрос&nbsp; &nbsp; &nbsp;<br></a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="mbr-section content4 cid-rmEUa4rBxV" id="content4-2" style="background-image:url(background-main.png);background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Добро пожаловать</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Здравствуйте!
                    <div><br></div>
                    <div>Я, Валькова Марина, парикмахер и творческий человек. Превратила свое хобби в профессию и
                        работаю в индустрии красоты более 20-ти лет.
                    </div>
                    <div><br></div>
                    <div>Помогу раскрыть красоту ваших волос даже в трудных случаях.</div>
                    <div><br></div>
                    <div>Умею создать красивую прическу за 15 минут и праздничную укладку за пару минут в дополнение к
                        модной стрижке и окраске.
                    </div>
                    <div><br></div>
                    <div>Использую в работе профессиональную итальянскую косметику Itely Hairfashion.</div>
                    <div><br></div>
                    <div>Не откажу желающим записаться. Индивидуальный подход к каждому клиенту!</div>
                </h3>

            </div>
        </div>
    </div>
</section>


