<section class="cid-rrp0oK1OUF mbr-fullscreen mbr-parallax-background" id="header2-0">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Xmaster</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-5">Создай свой неповторимый образ
                    <br>вместе с профессиональным мастером</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="photogallery">Посмотреть работы</a>
                    <a class="btn btn-md btn-white-outline display-4" href="contacts">Связаться</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="mbr-section content5 cid-rrpmm31vp4 mbr-parallax-background" id="content5-9">





    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">

                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Здравствуйте!<br><br><div>Я, Валькова Марина, парикмахер и творческий человек. Превратила свое хобби в профессию и работаю в индустрии красоты более 20-ти лет.
                </div><div><br></div><div>Помогу раскрыть красоту ваших волос даже в трудных случаях.
                </div><div><br></div><div>Умею создать красивую прическу за 15 минут и праздничную укладку за пару минут в дополнение к модной стрижке и окраске.
                </div><div><br></div><div>Использую в работе профессиональную итальянскую косметику Itely Hairfashion.
                </div><div><br></div><div>Не откажу желающим записаться. Индивидуальный подход к каждому клиенту!</div><div><br></div></h3>


            </div>
        </div>
    </div>
</section>
