<section class="pricing-table1 cid-rrp0VdWh72" id="pricing-tables1-5">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="inst">
                    <h1 class="inst__title align-center mbr-fonts-style display-2" style="color: white;"><br>Услуги и цены</h1>
                    <div class="alert alert-warning" role="alert">
                        <div class="align-center">Цены на сайте указаны в диапазоне.</div>
                        <div class="align-center">Точная стоимость услуги рассчитывается исходя из вида услуги,&nbsp;</div>
                        <div class="align-center">использованной в ходе процедуры косметики и т.д.</div>
                        <div class="align-center">Точную стоимость вы можете узнать у мастера перед началом работы.</div>
                        </div>
                    </h3>
                </div>
            </div>
        </div>

        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Стрижка мужская</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 5 до 25 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">модельная с мытьём, наголо и др.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Стрижка детская</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 5 до 15 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">в различных вариантах</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Стрижка женскаяя</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 20 до 40 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">от простой до модельной в различных вариантах, мытьё и сушка включены в стоимость как обязательная часть процедур при выполнении стрижки</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Укладка, прическа</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 25 до 80 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">для особых случаев и торжественных мероприятий</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Окраска</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 35 до 50 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">с учётом стоимости материалов</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Сложное окрашивание</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 50 до 100 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">мультиколор, с дополнительными прядями, брондирование и др.; с учётом стоимости материалов</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Мелирование</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 30 до 55 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">с учётом стоимости материалов</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Химическая завивка</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 30 до 55 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">с учётом стоимости материалов</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Косы</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>от 5 до 35 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">в различных вариантах</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Окраска ресниц</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>5 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Окраска бровей</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>5 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-4">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Коррекция бровей</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <!--
                                                <span class="price-figure mbr-fonts-style display-5">от 5 до 25 BYN</span>
                        -->
                        <span class="price-term mbr-fonts-style display-7" style="color: #0d0d0d">
                            <b>5 BYN</b>
                        </span>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
