<style>
    .cid-rrp0VdWh72 {
        padding-top: 90px;
        padding-bottom: 90px;
        background: linear-gradient(45deg, #0f7699, #cc2952);
    }
</style>
<section class="engine"><a href="https://mobirise.me/l">free web templates</a></section><section class="section-table cid-rmR7O5Uftr" id="table1-j">

  
  
  <div class="container container-table">
      <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">Прайс-лист услуг</h2>
      <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5">
          <div>Цены на сайте указаны <b>в диапазоне</b>.</div>
          <div>Точная стоимость услуги рассчитывается исходя из сложности услуги,</div>
          <div>использованной в ходе процедуры косметики и др.</div>
          <div>Точную стоимость вы можете узнать у мастера <b>перед началом работы</b>.</div>
      </h3>
      <div class="table-wrapper">
        <div class="container">
          <div class="row search">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="dataTables_filter">
                  <label class="searchInfo mbr-fonts-style display-7">Искать:</label>
                  <input class="form-control input-sm" disabled="">
                </div>
            </div>
          </div>
        </div>

        <div class="container scroll">
          <table class="table isSearch" cellspacing="0">
            <thead>
              <tr class="table-heads ">
                  
                  
                  
                  
              <th class="head-item mbr-fonts-style display-7">
                      NAME</th><th class="head-item mbr-fonts-style display-7">
                      AGE</th><th class="head-item mbr-fonts-style display-7">
                      DATE</th><th class="head-item mbr-fonts-style display-7">
                      SALARY</th></tr>
            </thead>

            <tbody>
              
              
              
              
            <tr> 
                
                
                
                
              <td class="body-item mbr-fonts-style display-7">Jeanna Schmal</td><td class="body-item mbr-fonts-style display-7">44</td><td class="body-item mbr-fonts-style display-7">2016-10-17</td><td class="body-item mbr-fonts-style display-7">$317.000</td></tr><tr>
                
                
                
                
              <td class="body-item mbr-fonts-style display-7">Caren Rials</td><td class="body-item mbr-fonts-style display-7">35</td><td class="body-item mbr-fonts-style display-7">2013-04-12</td><td class="body-item mbr-fonts-style display-7">$445.500</td></tr><tr>
                
                
                
                
              <td class="body-item mbr-fonts-style display-7">Leon Rogol</td><td class="body-item mbr-fonts-style display-7">66</td><td class="body-item mbr-fonts-style display-7">2016-05-22</td><td class="body-item mbr-fonts-style display-7">$152.558</td></tr><tr>
                
                
                
                
              <td class="body-item mbr-fonts-style display-7">Shala Barrera</td><td class="body-item mbr-fonts-style display-7">70</td><td class="body-item mbr-fonts-style display-7">2016-05-15</td><td class="body-item mbr-fonts-style display-7">$459.146</td></tr></tbody>
          </table>
        </div>
        <div class="container table-info-container">
          <div class="row info">
            <div class="col-md-6">
              <div class="dataTables_info mbr-fonts-style display-7">
                <span class="infoBefore">Showing</span>
                <span class="inactive infoRows"></span>
                <span class="infoAfter">entries</span>
                <span class="infoFilteredBefore">(filtered from</span>
                <span class="inactive infoRows"></span>
                <span class="infoFilteredAfter"> total entries)</span>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="pricing-table1 cid-rrp0VdWh72" id="pricing-tables1-5">




    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        Standard
                    </h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                              35</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per month
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                Mobirise is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                5 GB Bandwidth
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        Business
                    </h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            65</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per day
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                Mobirise is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                10 GB Bandwidth
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        Premium
                    </h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            90</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per year
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                Mobirise is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                15 GB Bandwidth
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        Ultimate
                    </h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            150</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per hour
                        </small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                Mobirise is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                20 GB Bandwidth
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

